.quote {
    background-color: lightgrey;
    border-radius: 15px;
    font-family: 'Courier New';
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.output {
    margin-bottom: 0;
}

.user-input {
    color: red;
    font-weight: bold;
}

table {
    border: solid;
    margin: 10px 0px;
}
tr, th, td {
    border: solid 1px;
}
td, th {
    padding: 5px;
}
tr:hover {
    background: aliceblue;
}